.icn-search {
    display: inline-block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUVJREFUeNqclD1PAkEQhvcInQEa8QeYoCZX2GBjd9Z4DYn29gahFEsudkqICVroH1AKUGv/AImNJlT0flQgjRb6TvJessFZPJnkyU644dm5u9nz2u0LY8UiqIESWOFvA9ADLfBuHJG28jK4BLmpmnVSAXugo4lSluSakluwBTJE8juQZU3ZJcqDK+CBIxCCB/BBJN/mNY+1S5pon7vJrpFxR8RupfZAE4XMT8zfccq1pInWmPcTiOKaVdfDThrfXD810YB5MYFog+tQE/WYVxOI4pp7TXQGRnzF9RmSOmuktqmJXjmxcv8N0AUBWCABu27wPy/Ws/p1RGTsdzhsoTUSdowpKXBIZYM37a3dgGVwDJ7AF5iAR3Yj1zbBM/Apy2uH1vB0HxJXBJT4dmf/nSPD2wmmO5tHpMl202b+iGXyWTn/EWAAHHZG2heaSbMAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.icn-enter {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALNJREFUeNpi/P//P8NAACaGAQIDZjELNsEZM2aRbWBGRhpdffxhNI5HLR61eNTiUYtHLR61mOYWGwLxJHpaDGqh1AHxMiBehUONEhC/o6bFWkB8DIglgNgEiI/gsHQxEPdS0+JFQGwKxJlA/AWI/6PhP0C8E4iXAvFUqjT2oCAbiOcD8UEgLgPiz/SK45NAbAT17Xkgtqdn4voBxKVAHAfEwTRvV2MBx6CYaoBxxPWdAAIMAFxWJByx3D6UAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}




