<div class="b-big-title">
    <div class="container">
        <h1 class="css_margin-text-block">Мы издаем книги — вы их можете не читать</h1>
    </div>
</div>

<div class="b-single-book">
    <div class="container">
        <div class="b-single-book_holder">
            <div class="b-single-book_book">
                <div class="b-single-book_book_img">
                    <span class="b-single-book_ribbon"></span>
                    <img src="images/big-book.jpg" alt=""/>

                    <div class="b-single-book_eye"><i></i></div>
                </div>

                <div class="b-single-book_book_description">
                    <p>
                        В топ-100 <span class="css_text_zoidberg">Zoidberg</span>zon.com<br/>в разделах «Это правда было так»<br/>и «Когнитивный писсонанс»
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>